{% extends '../../core/base.html' %}
{% load static %}
{% block 'contenido' %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <section class="content pt-3">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Carga Electoral por Departamento</h3>
              </div>
              <div class="card-body">
                  <canvas id="cargaElectoralChart" width="200" height="150"></canvas>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Cantidad de Centros de Votación por Departamento</h3>
              </div>
              <div class="card-body">
                  <canvas id="deptoChart" width="200" height="150"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<script>
    // Gráfico de cantidad de CV por departamento
    const codigosDepto = {{ codigos_depto|safe }};
    const deptoCtx = document.getElementById('deptoChart').getContext('2d');
    const deptoChart = new Chart(deptoCtx, {
        type: 'bar',
        data: {
            labels: {{ labels_depto|safe }},
            datasets: [{
                label: 'Cantidad de CV por Departamento',
                data: {{ data_depto|safe }},
                backgroundColor: '#2ecc71',
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            indexAxis: 'y', // Barras horizontales
            plugins: {
                legend: { display: false }
            },
            scales: {
                x: {
                    beginAtZero: true,
                    ticks: { stepSize: 1 }
                }
            }
        }
    });

    // Evento de clic en barra del gráfico de departamentos
    document.getElementById('deptoChart').onclick = function(evt) {
        const points = deptoChart.getElementsAtEventForMode(evt, 'nearest', { intersect: true }, true);
        if (points.length) {
            const index = points[0].index;
            const codigo = codigosDepto[index];
             window.location.href = `/detalle-departamento/${codigo}/`;
        }
    };


    // Gráfico de carga electoral
    const ctx = document.getElementById('cargaElectoralChart').getContext('2d');
    const depto_carga_Chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ labels_carga|safe }},
            datasets: [{
                label: 'Carga Electoral',
                data: {{ data_carga|safe }},
                backgroundColor: '#e67e22'
            }]
        },
        options: {
            responsive: true,
            indexAxis: 'y',  // Horizontal
            scales: {
                x: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    display: false
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            return ' ' + context.raw.toLocaleString();
                        }
                    }
                }
            }
        }
    });
    document.getElementById('cargaElectoralChart').onclick = function(evt) {
        const points1 = depto_carga_Chart.getElementsAtEventForMode(evt, 'nearest', { intersect: true }, true);
        if (points1.length) {
            const index = points1[0].index;
            const codigo = codigosDepto[index];
             window.location.href = `/detalle-departamento/${codigo}/`;
        }
    };

</script>
{% endblock %}
